*{
    padding: 5px;
}
main.container {
    width: 98%;
    grid-template-columns: 100%;
}
h2 {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 30px 0px 10px 0px
}
table{
    margin: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
tbody > tr:nth-child(2n + 1){
    background-color: lightgray;
}
a#add{
    background-color: green;
    text-decoration: none;
}
a.delete{
    background-color: red;
    text-decoration: none;
}