@using System.Linq;
@using NuGet.Packaging;
@using SellersManager.Models;
@model Student;
@{
    ViewData["Title"] = "Notes";
    
}

<main class="container">
    @foreach(Day day in Model.Days)
    {
        @foreach(Lesson lesson in day.Lessons)
        {
            <div class="lesson">
                <h1>@lesson.Name</h1>
                @foreach(Note note in lesson.Notes)
                {
                    <p class="note">@note.Value - @note.Type</p>
                }
            </div>
        }
    }
    <a asp-controller="Home" asp-action="AddNote" asp-route-id="@Model.Id">Add a new note</a>
</main>